
* {
text-align: center;
font-weight: bold;
/*        border: 0.5px dotted red;*/
}

body {
	background-color: rgb(62, 68, 76);
}

/*a's are rows on BS grid*/
#a1, #a3, #a4 {
height: 240px;
color: white;
}

#a0{
	color: rgb(49, 131, 183);
}

#a1 {
	background-color: rgb(49, 131, 183);

}

#a2 {
	color: rgb(49, 131, 183);
	background-color: white;
	font-size: 1.2em;
}

#a3 {padding-top: 10px;}

#a3, #a4 {
	background-color: black;
}

/*newColors is first span on a2, the navBar row*/
#newColors:hover {
color:red;
cursor: pointer;
}

/*inner Class is the square divs with color backgrounds */
.inner {
	width:200px;
	height:200px;
	display: inline-block;
	border-radius: 10px;
	margin: 10px;
	background-color: gray;
}

h1 {
	font-size: 5em;
}











